header {
	text-align: center;
	list-style: none;
	margin: auto;
}

#journal {
	border: solid black 5px;
	text-align: center;
	list-style: none;
	margin: auto;
	border-radius: 5px;
	padding: 0px;
	background-color: #FFD700;
}
.outLogs {
	margin: -10px;
}
.logs {
	border: solid black 5px;
	list-style: none;
	margin: 10px;
	border-radius: 5px;
	padding: 0px;
	background-color: #FFD700;
}
body {
	background-color: black;
}
#imageDiv2 {
	text-align: center;
	float: left;
	width: 33%;
	margin: auto;
}
#bonfire {
	height: 360px;
	width: auto;
	border: solid black 4px;
	margin: auto;
}
#Godzilla {
	height: 360px;
	width: auto;
	border: solid black 4px;
	margin: auto;
}
#fallout4 {
	height: 360px;
	width: auto;
	border: solid black 4px;
	margin: auto;
}